VITE_IDFM_API_KEY=votre_clef_api_idfm_ici
VITE_PROTON_ICAL_URL=lien_vers_le_calendrier_proton_ici
VITE_L3MI_ICAL_URL=lien_vers_le_calendrier_L3MI_ici
VITE_ANGLAIS_L3A_ICAL_URL=lien_vers_le_calendrier_anglais_L3A_ici

VITE_LATITUDE=48.9472
VITE_LONGITUDE=2.2845
VITE_NAME=Saint-Gratien (95210)